<!doctype html>
<html lang="en">

<head>
    <title>example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Chapter 1</h1>

        <section id="interpolation" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>interpolation</h2>
            <hr>
            <p>Tên: {{nameUser}} </p>
            <p>Lớp: {{className}} </p>
        </section>

        <section id="bind-attribute" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>bind-attribute</h2>
            <hr>
            <img class="img-thumbnail" v-bind:src=imgURL alt="cat">
            <a class="btn btn-info mt-3" v-bind:href="linkCser">
                Cser
            </a>
        </section>

        <section id="methods" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>methos</h2>
            <hr>
            <h3>Kết quả: {{resuflt()}}</h3>
        </section>

        <section id="raw-html" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>raw-html</h2>
            <hr>
            <div v-html="message"></div>
        </section>

        <section id="events" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>events</h2>
            <hr>
            <p>Kết quả: {{count}} </p>
            <button class="btn btn-info" v-on:click="handleClick(10)">Click me!</button>
            <form @submit.prevent="handleSubmit()">
                <button type="submit" class="btn btn-warning mt-3">Submit</button>
            </form>
            <div class="form-group mt-3">
                <label>Tài khoản</label>
                <input type="text" class="form-control" placeholder="Nhập tài khoản ..." @keyup.enter="handleEnter()">
                <label for="">Mật khẩu</label>
                <input type="text" class="form-control" placeholder="Nhập mật khẩu ..." @keyup.enter="handleEnter()">
            </div>
        </section>

        <section id="tow_way_binding" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>tow_way_binding</h2>
            <hr>
            <div>
                <form class="form-group" type="Submit">
                    <input v-model="message" type="text" class="form-control">
                </form>
                <div>
                    <p class="alert alert-danger">Massage: {{message}}</p>
                </div>
            </div>
        </section>

        <section id="computed_and_watch" class="bg-dark rounded p-3 text-center mt-5 text-light">
            <h2>computed_and_watch</h2>
            <hr>
            <div>
                <p> Number: {{ num }} </p>
                <button class="btn btn-warning mb-2" @click="handelIncrea">Increa</button>
                <p class="alert alert-primary">Full name: {{ handleScanName }} </p>
            </div>
            <hr>
            <div>
                <form class="form-group">
                    <label class="text-light">Họ</label>
                    <input class="form-control" type="text" v-model="fisrtName">
                    <label class="text-light">Tên</label>
                    <input class="form-control" type="text" v-model="lastName">
                </form>
                <p class="alert alert-succsess">Họ và tên: {{ fullName }}</p>
            </div>
        </section>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./index.js"></script>
</body>

</html>